.avatar-preview {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 2rem auto;
}

/* Base image is below everything */
.avatar-preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Optional: explicitly control z-index */
#hair {
    z-index: 2;
}

#face {
    z-index: 3;
}

#clothing {
    z-index: 4;
}

#pose {
    z-index: 1;
}



.avatar {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 2rem auto;
}

/* Base image is below everything */
.avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}