@model DragonGame.Models.Character
@{
    ViewData["Title"] = "Design Your Character";
}

<h2>Create/Edit Character</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="avatar-preview" style="position: relative; width: 400px; height: 400px; margin: 2rem auto 3rem auto;">
        <img src="~/images/base.png" alt="Base" style="position:absolute; width:100%; height:100%;" />
        <img id="hair" src="~/images/hair/@Model.Hair" alt="Hair" style="position:absolute; width:100%; height:100%;" />
        <img id="face" src="~/images/faces/@Model.Face" alt="Face" style="position:absolute; width:100%; height:100%;" />
        <img id="outfit" src="~/images/clothes/@Model.Outfit" alt="Outfit" style="position:absolute; width:100%; height:100%;" />

        <input type="hidden" id="hairInput" name="Hair" value="@Model.Hair ?? "hair1.png"" />
        <input type="hidden" id="faceInput" name="Face" value="@Model.Face ?? "face1.png"" />
        <input type="hidden" id="outfitInput" name="Outfit" value="@Model.Outfit ?? "clothing1.png"" />
    </div>

    <!-- Button controllers for carousels -->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="form-group text-center mb-3">
                    <label>Hair</label><br/>
                    <button type="button" class="btn btn-secondary prev" data-target="hair">Prev</button>
                    <button type="button" class="btn btn-secondary next" data-target="hair">Next</button>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group text-center mb-3">
                    <label>Face</label><br/>
                    <button type="button" class="btn btn-secondary prev" data-target="face">Prev</button>
                    <button type="button" class="btn btn-secondary next" data-target="face">Next</button>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group text-center mb-3">
                    <label>Outfit</label><br/>
                    <button type="button" class="btn btn-secondary prev" data-target="outfit">Prev</button>
                    <button type="button" class="btn btn-secondary next" data-target="outfit">Next</button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Save Character</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/CharacterCreator.js"></script>
}
