  background: url("/images/backgrounds/menu_bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  max-width: 400px;
  padding: var(--spacing-xl) var(--spacing-lg);
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: center;
  justify-content: center;
  border-width: 30px;
  border-style: solid;
  border-color: transparent;
  border-image: url("/images/backgrounds/border.png") 30 stretch;
  position: relative;
}